* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 120%;
    text-align: center;
}

.card {
    background: #000000d0;
    color: whitesmoke;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
    margin: 1em;
}

.card:hover {
    box-shadow: 5px 5px 5px #00000056;
}

.details {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 80px;
}

.temp-wind-humidity {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.temp {
    display: flex;
    flex-direction: column;
}

.temp p {
    margin-top: 10px;
}

.humidity {
    margin-top: 10px;
}